*{
    font-family: 'Nunito Sans';
    margin:0;
}
/*.bar{
    margin-left:12%;
    margin-right:12%;
}*/
.navbar{

   position:sticky;
    height:100px;
  
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    top:0;
    background:white;
    z-index:3;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.1);
}
.imag{
    margin-left:10%;
    margin-right:12%;
    width:200px;
    display:grid;
    grid-template-columns:90px auto;
    grid-column-gap:0px;

}
.links{
    margin:0;
    width:300px;
    display:inherit;
    justify-content:space-between;
    margin-right:12%;
}
.links  a{
    text-decoration:none;
    color:#3B3736;
    font-size:12px;
}
.main1{
    display:grid;
    grid-column-gap:200px;
    grid-template-columns:auto auto;
    margin:80px 150px 120px;
    grid-row-gap:1.5em;
}
.design{
    display:grid;
    grid-template-rows:70px auto 70px;
    grid-row-gap:6px;


}
.development{
    display:grid;
    grid-template-rows:70px auto 70px;
    grid-row-gap:6px;

}
.main2{
    display:grid;
    grid-template-rows:100px auto;
    grid-row-gap:20px;
    align-items:space-between;
    margin:80px 150px 120px;
    height:300px;
}
.timeline1{
    display:grid;
    grid-template-rows:auto 2px auto;
}
.timeline2{
    display:none;
}
.grid1{
    display:grid;
    grid-template-columns:auto auto auto;
}
.grid2{
    display:grid;
    grid-template-columns:auto auto;
}
.pic1{
    display:flex;
    flex-direction: row;
    justify-items:center;
    align-items:center;
   
    /*grid-column-gap:2px;*/

}
.pic2{
    display:flex;
    flex-direction:row;
    justify-items:center;
    align-items:center;


}
.main3{
    display:grid;
    grid-template-columns:auto 40%;

    align-items:space-between;
    margin:100px 150px 120px;
    margin-top:250px;
    grid-column-gap:150px;
   
}
.content{
    display:grid;
    grid-template-rows:auto auto 20%;
    grid-row-gap:.5em;
}
.main4{
    display:grid;
    grid-template-rows:auto auto;

    grid-row-gap:10px;
    margin:100px 150px 120px;
    margin-top:250px;
}
.updates{
    display:grid;
    grid-template-rows:repeat(10,auto);
}
.updates > div:nth-child(odd){
    background:#F7F7F7;
}
.up{
    display:grid;
    grid-template-rows:auto auto;
    padding:18px 40px;
}
.up > div:nth-child(1){
    color:#9E9E9E;

}
.up > div{
    font-size:16px;
    color:#666666;
}
.main5{
    display:grid;
    grid-template-columns:10% 80% 10%;   
}
.footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.social{
        display:flex;
        
        justify-content:space-evenly;
        width:18%;
}
.menu{
    display:grid;
    grid-template-columns:repeat(3,auto);
    grid-column-gap:15px;
}
.menu > div{
    font-size:12px;
    color:#F8D16C;
}
.ham{
    display:none;
    cursor:pointer;
}
@media only screen and (max-width:1200px){
    .main1{
        display:block;
    }
    .firstimg{
        display:none;
    }
    .main2{
        display:none;
    }
    .timeline2{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
    .imag2{
        display:none
    }
    .main3{
        display:block;
    }
    .design, .development{
        margin:1em 0em;
    }
}
@media only screen and (max-width:600px){
    .menu{
        display:none;
    }
    
    .social{
        display:flex;
        justify-content: space-between;
        align-items:center;
        padding-left:6em;
    }
    .social>div{
        margin:.2em;
    }
    .links{
        display:none;
    }
    .ham{
        display:block;

    }
}